@font-face {
    font-family: 'brandon-grotesque';
    src: url('fonts/brandon_med-webfont.eot');
    src: url('fonts/brandon_med-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon_med-webfont.woff') format('woff'),
         url('fonts/brandon_med-webfont.ttf') format('truetype'),
         url('fonts/brandon_med-webfont.svg#brandon_grotesque_mediumRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lmroman';
    src: url('fonts/lmroman-regular-webfont.eot');
    src: url('fonts/lmroman-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lmroman-regular-webfont.woff') format('woff'),
         url('fonts/lmroman-regular-webfont.ttf') format('truetype'),
         url('fonts/lmroman-regular-webfont.svg#latin_modern_roman10_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: black;
  font-family: "brandon-grotesque",Arial,Helvetica,sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
a:active {
    color: white;
    text-decoration: none;
}


@media (min-width: 768px) {
  /* Navbar white links when focus/hover */
  #nav1 .navbar-default .navbar-nav > li > a:hover,
  #nav1 .navbar-default .navbar-nav > li > a:focus {
      color: #ffffff;
  }

  /* Navbar white links */
  #nav1 .navbar-default .navbar-nav > li > a {
      color: #ffffff;
  }

  /* Navbar positioning  */
  #nav1 .navbar {
    margin-top: 25px;
  }

  /* Navbar Transparent */
  #nav1 .navbar-transparent {
    background-color: transparent;
    border: none;
    width: auto;
  }

  /* Navbar fixed */
  #nav1 .navbar-fixed {
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    margin: 0 auto;
  }


  #nav1 .navbar > .nav-no-pad-left {
    padding-left: 0px;
  }

  #nav1 .navbar .navbar-nav {
      display: inline-block;
      float: none;
  }

  #nav1 .navbar .navbar-collapse {
      text-align: center;
  }

  #nav1 .nav > li {
    width: 120px;
    text-align: center;
  }

  #nav1 .navbar-nav > li > a {
    padding: 0px;
    letter-spacing: .480em;
    font-size: 10px;
    font-size: 1.0rem;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
  }

  #nav1 .navbar-link {
    margin-top: 20px;
  }

  #nav1 .nav > li > a {
    padding: 0px;
  }

  /* Navbar content center middle of the page */
  #nav1 #navbar-wrapper {
    text-align: center;
  }

  #nav1 #navbar-center {
    display: inline-block;
  }

  #nav2 {
    display: none;
  }

}

@media (max-width: 768px) {
  #nav1 {
    display: none;
  }

  #nav2 {
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  #nav2 .navbar-logo {
    height: 60px;
  }


}


#fullpage > .section {
  font-family: 'lmroman','Times New Roman',serif;
  color: white;
  text-align: center;
}

.work-title {
  color: white;
  font-size: 9rem;
}

.work-title:hover {
  text-decoration: none;
}

#work1 {
  background-image: url("img/vacalians.jpg");
  background-repeat: no-repeat;
  filter: saturate(150%);
}

@media (min-height: 830px) {
  #work1 {
    background-size: cover;
  }
}

#work2 {
  background-image: url("img/forest.jpg");
  background-size: cover;
  filter: saturate(150%);
}

#work3 {
  background-image: url("img/light.jpg");
  background-size: cover;
}
